@media (min-width: 320px) and  (max-width: 1274px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .product {
        width: calc(100% - 42px);

        margin: 10px;
    }
    nav div.hamburger-menu{
        display: block;
    }
    nav div.menu-box{
        display: none;
    }
    .block {
        padding: 0 20px;
    }

    .block .text-aboutUs.overall p {
        text-align: initial;
    }

    .member p {
        text-align: initial;
    }

    .form-group {
        width: 95%;
        margin: auto;
    }

    .form-label {
        width: 95%;
        text-align: left;
        clear: both;
        float: none;
        display: block;
        margin: 0;
    }

    .form-element {
        width: 95%;
        display: block;
    }

    form {
        height: initial;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form-group button{
        right: 8px;
    }

}

@media (min-width: 1275px) {
    .wrapper {
        max-width: 1144px;
        margin: 0 auto;
    }

    .product {

        width: calc(33% - 23px);

    }
    #menu-box.responsive {
        display: none;
    }
}
@media (max-width: 500px) {
    .image100 {
        width: 100%;
    }
}
@media (min-width: 501px) and (max-width: 769px) {
    .image100 {
        width: 75%;
    }
}
@media (min-width: 770px) and (max-width: 779px){
    .image100 {
        width: 75%;
    }
}
@media (min-width: 780px) and (max-width: 1110px){
    .image100 {
        width: 50%;
    }
}
@media (min-width: 1111px){
    .image100 {
        width: 100%;
    }
}